/* Flip Card Styles */
.flip-card {
  background: transparent;
  width: 45%;
  height: 350px;
  perspective: 1000px;
  border-radius: 12px;
}
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 12px;
}
.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
  overflow: hidden;
}

.flip-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.flip-back {
  background-color: rgba(0, 0, 0, 0.8);

  color: white;
  transform: rotateY(150deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2);
}
.flip-back h3 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #facc15;
}
.flip-back p {
  font-size: 1rem;
  line-height: 1.5;
}
